@import "sass/main";

.header {
  padding: 10px 1in;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  align-items: center;
  display: flex;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.02);
  @include heightMainHeaderToolbar();
}
